<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>nodejs express session</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <h2>#{message}</h2>
        <form method="POST" action="/login">
            <ul>
                <li>Login Name : <input type="text" name="username" placeholder="loginname" /></li>
                <li>Password : <input type="password" name="password" placeholder="password" /></li>
            </ul>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
