AWS_REGION=ap-northeast-2
DEPLOYMENT_BUCKET=deployment-bucket

GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SHEETS_SPREADSHEET_ID=your-spreadsheet-id
GOOGLE_SHEETS_RANGE=Sheet1
